/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #898989;
    background-image: url(/assets/images/42_Logo_45deg_15opacity.png);
    background-size: 300px;
}