<div id="gameRoot">

    <div class="modal" [ngClass]="{'hide': !reader.messageShow}">
        <div class="alert">
            <div class="body">{{ reader.messageText }}</div>
            <div class="footer">
                <button (click)="reader.messageHide()">Ok</button>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <ng-container *ngFor="let item of grid; let i = index">
            <div class="grid-item" [ngClass]="{
                    'disable': item.disable, 
                    'color-red': item.color == 1,
                    'color-green': item.color == 2,
                    'color-blue': item.color == 3
                    }">
                <!-- {{ i+1 }} -->
                <img *ngIf="item.rocket" src="/assets/images/rocket2.png" alt=""
                    [style.transform]="'rotate(' + rocket.rotation + 'deg)'" />
                <img *ngIf="item.star" src="/assets/images/star2.png" alt="" />
            </div>
        </ng-container>
    </div>
    <div class="player">
        <!-- <div class="exec-logo"></div>
            <div class="exec-list"></div> -->
        <div class="exec-controls">
            <div class="play-speed" (click)="reader.playSpeedChange()" [ngClass]="{
                'speed-2000': speed === 2000,
                'speed-1000': speed === 1000,
                'speed-500': speed === 500,
                'speed-200': speed === 200,
                'speed-100': speed === 100
            }"></div>
            <div class="stop" (click)="reader.loopStop()"></div>
            <div class="play-steps" (click)="reader.playStepByStep()"></div>
            <div class="play" (click)="reader.loopPlay()"></div>
        </div>
    </div>
    <div class="wrapper-commands">
        <div class="commands">
            <div class="direction">
                <div class="turn-left" (click)="addTurnLeft()" *ngIf="allowTurnLeft"></div>
                <div *ngIf="!allowTurnLeft"></div>
                <div class="move-forward" (click)="addUp()" *ngIf="allowMoveForward"></div>
                <div *ngIf="!allowMoveForward"></div>
                <div class="turn-right" (click)="addTurnRight()" *ngIf="allowTurnRight"></div>
                <div *ngIf="!allowTurnRight"></div>
            </div>
            <div class="functions">
                <div class="f0" (click)="addFunc(0)" [ngClass]="{'disabled': !allowFunction0}">F0</div>
                <div class="f1" (click)="addFunc(1)" [ngClass]="{'disabled': !allowFunction1}">F1</div>
                <div class="f2" (click)="addFunc(2)" [ngClass]="{'disabled': !allowFunction2}">F2</div>
            </div>
            <div class="colors">
                <div class="red" (click)="addColor(1)" [ngClass]="{'disabled': !allowConditionRed}">
                    <img src="/assets/images/forbidden.png" alt="">
                </div>
                <div class="green" (click)="addColor(2)" [ngClass]="{'disabled': !allowConditionGreen}">
                    <img src="/assets/images/forbidden.png" alt="">
                </div>
                <div class="blue" (click)="addColor(3)" [ngClass]="{'disabled': !allowConditionBlue}">
                    <img src="/assets/images/forbidden.png" alt="">
                </div>
            </div>
            <div class="paint">
                <!-- <div class="red" (click)="addPaint(1)" [ngClass]="{'disabled': !allowPaintRed}"></div> -->
                <div class="red" (click)="addPaint(1)" [ngClass]="{'disabled': !allowBrushRed}">
                    <img src="/assets/images/forbidden.png" alt="">
                </div>
                <div class="green" (click)="addPaint(2)" [ngClass]="{'disabled': !allowBrushGreen}">
                    <img src="/assets/images/forbidden.png" alt="" *ngIf="!allowBrushGreen">
                </div>
                <div class="blue" (click)="addPaint(3)" [ngClass]="{'disabled': !allowBrushBlue}">
                    <img src="/assets/images/forbidden.png" alt="">
                </div>
            </div>
        </div>
        <div class="render-commands">
            <div class="function">
                <div>f0</div>
                <ng-container *ngFor="let item of inst[0]; let i = index">
                    <div *ngIf="item?.move == 'Left'" class="turn-left"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay}"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == 'Up'" class="move-forward"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == 'Right'" class="turn-right"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == null && item?.func == null && item?.paint == 1" class="paint-red"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == null && item?.func == null && item?.paint == 2" class="paint-green"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == null && item?.func == null && item?.paint == 3" class="paint-blue"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                    <div *ngIf="item?.move == null && item?.func != null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)">f{{item?.func}}</div>
                    <div *ngIf="item?.move == null && item?.func == null && item?.paint == null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected,'read': currentInst.item === i && currentInst.f === 0 && reader.isPlay }"
                        (click)="stack.select(0,i)"></div>
                </ng-container>
            </div>
            <div class="function">
                <div *ngIf="inst[1] && inst[1].length">f1</div>
                <ng-container *ngFor="let item of inst[1]; let i = index">
                    <div *ngIf="item?.move == 'Left'" class="turn-left"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 1 && reader.isPlay }"
                        (click)="stack.select(1,i)"></div>
                    <div *ngIf="item?.move == 'Up'" class="move-forward"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 1 && reader.isPlay }"
                        (click)="stack.select(1,i)"></div>
                    <div *ngIf="item?.move == 'Right'" class="turn-right"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 1 && reader.isPlay }"
                        (click)="stack.select(1,i)"></div>
                    <div *ngIf="item?.move == null && item?.func != null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 1 && reader.isPlay }"
                        (click)="stack.select(1,i)">f{{item?.func}}</div>
                    <div *ngIf="item?.move == null && item?.func == null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 1 && reader.isPlay }"
                        (click)="stack.select(1,i)"></div>
                </ng-container>
            </div>
            <div class="function">
                <div *ngIf="inst[2] && inst[2].length">f2</div>
                <ng-container *ngFor="let item of inst[2]; let i = index">
                    <div *ngIf="item?.move == 'Left'" class="turn-left"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 2 && reader.isPlay }"
                        (click)="stack.select(2,i)"></div>
                    <div *ngIf="item?.move == 'Up'" class="move-forward"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 2 && reader.isPlay }"
                        (click)="stack.select(2,i)"></div>
                    <div *ngIf="item?.move == 'Right'" class="turn-right"
                        [ngClass]="{'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 2 && reader.isPlay }"
                        (click)="stack.select(2,i)"></div>
                    <div *ngIf="item?.move == null && item?.func != null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 2 && reader.isPlay }"
                        (click)="stack.select(2,i)">f{{item?.func}}</div>
                    <div *ngIf="item?.move == null && item?.func == null" class="empty"
                        [ngClass]="{ 'empty': true, 'selected': item.selected, 'color-red': item?.color == 1, 'color-green': item?.color == 2, 'color-blue': item?.color == 3,'read': currentInst.item === i && currentInst.f === 2 && reader.isPlay }"
                        (click)="stack.select(2,i)"></div>
                </ng-container>
            </div>
        </div>
        <div class="changeLevel">
            <select (change)="onChangeLevel($event)" [value]="level">
                <option value="0">Tuto 1</option>
                <option value="1">Tuto 2</option>
                <option value="2">Tuto 3</option>
                <option value="3">Tuto 4</option>
                <option value="4">Level 1</option>
                <option value="5">Level 2</option>
                <option value="6">Level 3</option>
                <option value="7">Level 4</option>
                <option value="8">Level 5</option>
                <option value="9">Level 6</option>
                <option value="10">Level 7</option>
                <option value="11">Level 10</option>
                <option value="12">Level 11</option>
                <option value="13">Level 14526</option>
                <option value="14">Level 4758</option>
            </select>
            <div class="sound-commands">
                <svg *ngIf="!play" (click)="onPlayAudio()" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="30px" width="30px" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M16.5 12A4.5 4.5 0 0 0 14 7.97v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51A8.796 8.796 0 0 0 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3 3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06a8.99 8.99 0 0 0 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4 9.91 6.09 12 8.18V4z"></path></svg>
                <svg *ngIf="play" (click)="onPlayAudio()" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" height="30px" width="30px" xmlns="http://www.w3.org/2000/svg"><path d="M533.6 32.5C598.5 85.2 640 165.8 640 256s-41.5 170.7-106.4 223.5c-10.3 8.4-25.4 6.8-33.8-3.5s-6.8-25.4 3.5-33.8C557.5 398.2 592 331.2 592 256s-34.5-142.2-88.7-186.3c-10.3-8.4-11.8-23.5-3.5-33.8s23.5-11.8 33.8-3.5zM473.1 107c43.2 35.2 70.9 88.9 70.9 149s-27.7 113.8-70.9 149c-10.3 8.4-25.4 6.8-33.8-3.5s-6.8-25.4 3.5-33.8C475.3 341.3 496 301.1 496 256s-20.7-85.3-53.2-111.8c-10.3-8.4-11.8-23.5-3.5-33.8s23.5-11.8 33.8-3.5zm-60.5 74.5C434.1 199.1 448 225.9 448 256s-13.9 56.9-35.4 74.5c-10.3 8.4-25.4 6.8-33.8-3.5s-6.8-25.4 3.5-33.8C393.1 284.4 400 271 400 256s-6.9-28.4-17.7-37.3c-10.3-8.4-11.8-23.5-3.5-33.8s23.5-11.8 33.8-3.5zM301.1 34.8C312.6 40 320 51.4 320 64V448c0 12.6-7.4 24-18.9 29.2s-25 3.1-34.4-5.3L131.8 352H64c-35.3 0-64-28.7-64-64V224c0-35.3 28.7-64 64-64h67.8L266.7 40.1c9.4-8.4 22.9-10.4 34.4-5.3z"></path></svg>
            </div>
        </div>
    </div>
</div>
<div class="menu">
    <button [routerLink]="['/home']">Menu</button>
</div>
<audio #audioPlayer autoplay loop>
    <!-- <source src="assets/sounds/sound-background-1.mp3" type="audio/mpeg"> -->
    <source src="/assets/sounds/sound-background-2.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>