<div>
    <input type="file" (change)="onFileSelected($event)" />
    <div id="wrapper-canvas">
        <canvas #canvas id="canvas1"></canvas>
        <canvas #canvas2 id="canvas2" [ngClass]="{hide:isVisibleObjects}"></canvas>
    </div>
    <div>
        <button (click)="onToogleVisibleObjects()">Objects visible</button>
    </div>
    <br />
    Cellules Hors Chemin
    <pre>{{cellsOutOfPath}}</pre>
    <br />
    Cellules De Couleur
    <pre>{{cellsColor}}</pre>
</div>