pre {
    background-color: white;
    color: black;
    width: 600px;
    min-height: 400px;
}
// #canvas1 {display: none;}
#canvas1, #canvas2 {
    width:512px;
    height:512px;
    image-rendering: pixelated;
    position: absolute;
}

#wrapper-canvas {
    width:512px;
    height:512px;
}

#canvas2.hide {
    display: none;
}