<div>
    <div>
        <fieldset>
            <legend></legend>
            <button (click)="clearAll()">Tout éffacer</button>
        </fieldset>
        <fieldset id="fieldsetAllow">
            <legend>Droits</legend>
            <div>
                <input type="checkbox" name="allowTurnLeft" id="allowTurnLeft" (click)="onCheckbox($event)" [checked]="allow['allowTurnLeft']">
                <label for="allowTurnLeft">Touner à gauche</label>

                <input type="checkbox" name="allowMoveForward" id="allowMoveForward" (click)="onCheckbox($event)" [checked]="allow['allowMoveForward']">
                <label for="allowMoveForward">Avancer</label>

                <input type="checkbox" name="allowTurnRight" id="allowTurnRight" (click)="onCheckbox($event)" [checked]="allow['allowTurnRight']">
                <label for="allowTurnRight">Touner à droite</label>
            </div>
            <div>
                <input type="checkbox" name="allowFunction0" id="allowFunction0" (click)="onCheckbox($event)" [checked]="allow['allowFunction0']">
                <label for="allowFunction0">Fonction 0</label>

                <input type="checkbox" name="allowFunction1" id="allowFunction1" (click)="onCheckbox($event)" [checked]="allow['allowFunction1']">
                <label for="allowFunction1">Fonction 1</label>

                <input type="checkbox" name="allowFunction2" id="allowFunction2" (click)="onCheckbox($event)" [checked]="allow['allowFunction2']">
                <label for="allowFunction2">Fonction 2</label>
            </div>
            <div>
                <input type="checkbox" name="allowConditionRed" id="allowConditionRed" (click)="onCheckbox($event)" [checked]="allow['allowConditionRed']">
                <label for="allowConditionRed">Condition rouge</label>

                <input type="checkbox" name="allowConditionGreen" id="allowConditionGreen" (click)="onCheckbox($event)" [checked]="allow['allowConditionGreen']">
                <label for="allowConditionGreen">Condition verte</label>

                <input type="checkbox" name="allowConditionBlue" id="allowConditionBlue" (click)="onCheckbox($event)" [checked]="allow['allowConditionBlue']">
                <label for="allowConditionBlue">Condition blue</label>
            </div>
            <div>
                <input type="checkbox" name="allowBrushRed" id="allowBrushRed" (click)="onCheckbox($event)" [checked]="allow['allowBrushRed']">
                <label for="allowBrushRed">Pinceau rouge</label>

                <input type="checkbox" name="allowBrushGreen" id="allowBrushGreen" (click)="onCheckbox($event)" [checked]="allow['allowBrushGreen']">
                <label for="allowBrushGreen">Pinceau vert</label>

                <input type="checkbox" name="allowBrushBlue" id="allowBrushBlue" (click)="onCheckbox($event)" [checked]="allow['allowBrushBlue']">
                <label for="allowBrushBlue">Pinceau blue</label>
            </div>
        </fieldset>
        <fieldset id="fieldsetStackInstructions">
            <legend>Pile d'instructions</legend>
            <div>
                <label for="func0Length">Longueur de la fonction 0</label>
                <input type="number" name="func0Length" id="func0Length" min="0" max="9" (input)="onChangefnLength($event)" [value]="functionsLength[0]" />
            </div>
            <div>
                <label for="func1Length">Longueur de la fonction 1</label>
                <input type="number" name="func1Length" id="func1Length" min="0" max="9" (input)="onChangefnLength($event)" [value]="functionsLength[1]" />
            </div>
            <div>
                <label for="func2Length">Longueur de la fonction 2</label>
                <input type="number" name="func2Length" id="func2Length" min="0" max="9" (input)="onChangefnLength($event)" [value]="functionsLength[2]" />
            </div>
        </fieldset>
        <fieldset id="rocket-direction">
            <legend>Rocket direction</legend>
            <button>
                <img class="left" (click)="onChangeDirection('LEFT')" [ngClass]="{disable:rocketDirection !== 'LEFT'}" src="/assets/images/move-forward-arrow-icon-svg.png" alt="">
            </button>
            <button>
                <img class="up" (click)="onChangeDirection('UP')" [ngClass]="{disable:rocketDirection !== 'UP'}" src="/assets/images/move-forward-arrow-icon-svg.png" alt="">
            </button>
            <button>
                <img class="right" (click)="onChangeDirection('RIGHT')" [ngClass]="{disable:rocketDirection !== 'RIGHT'}" src="/assets/images/move-forward-arrow-icon-svg.png" alt="">
            </button>
            <button>
                <img class="down" (click)="onChangeDirection('DOWN')" [ngClass]="{disable:rocketDirection !== 'DOWN'}" src="/assets/images/move-forward-arrow-icon-svg.png" alt="">
            </button>
        </fieldset>
    </div>
    <div id="wrapper-canvas">
        <canvas #canvasMap id="canvasMap"></canvas>
        <canvas #canvasObj id="canvasObj" [ngClass]="{hide: config.isHideMapObj()}"></canvas>
    </div>
    <div>
        <button (click)="config.onHideMapObj()">
            {{ config.isHideMapObj() ? 'Map visible' : 'Map + Objects visibles' }}
        </button>
    </div>
    <div>
        <a [href]="urlGame">tester le niveau</a>
    </div>
    <div>
        <pre>
            {{ code }}
        </pre>
    </div>
</div>
<div class="menu">
    <button [routerLink]="['/home']">Menu</button>
</div>