
#wrapper-canvas {
    width:512px;
    height:512px;
}
#canvasMap, #canvasObj {
    width:512px;
    height:512px;
    image-rendering: pixelated;
    position: absolute;
}
#canvasObj.hide {
    display: none;
}
#canvasMap {
    border: 1px solid green;
}
#canvasObj {
    border: 1px solid red;
}

fieldset {
    background-color: #555;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

#fieldsetAllow  > div {
    display: flex;
    flex-direction: row;
}
#fieldsetAllow  > div > label {
    flex: 1;
}

#fieldsetStackInstructions > div > input {
    width: 30px;
    margin-left: 10px;
}

pre {
    background-color: white;
    color: black;
    width: 600px;
    height: 600px;
    overflow: scroll;
}

#rocket-direction img {
    width: 32px;
}
#rocket-direction img.disable {
    opacity: 0.5;
}
#rocket-direction img.left {
    transform: rotate(-90deg);
}
#rocket-direction img.right {
    transform: rotate(90deg);
}
#rocket-direction img.up {
    transform: rotate(0deg);
}
#rocket-direction img.down {
    transform: rotate(180deg);
}

.menu   {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
a {
    color: black;
}