.page {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 800px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu .choices{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}

button {
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}

.menu button {
    border: solid 1px #8e8e8e;
}

/* Définir les couleurs pour l'animation */
@keyframes borderColorChange {
    0% {
        border-color: #00f2ff;
    }

    50% {
        border-color: #0096ff;
    }

    100% {
        border-color: #00f2ff;
    }
}

button:hover.animated-border {
    border: 1px solid darkblue;
    /* Bordure initiale */
    animation: borderColorChange 1s infinite;
    /* Animation de 3 secondes en boucle */
}