html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: url(/assets/images/42_Logo.png);
    background-size: 20vw;
}

#gameRoot {

    // background-color: #AAA;
    width: 70vh;
    height: 70vh;
    padding: 0;
    margin: 0 auto;
    // margin-top: -25vh;
    background-color: #b6aea2;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(6%, 1fr));
    // aspect-ratio: 16 / 9;
    // background-color: #2196F3;
    // padding: 10px;
    width: 100%;
    height: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    // padding: 20px;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.grid-item.disable {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}



.grid-item img {
    width: 100%;
    height: 100%;
}

.player {
    min-height: 35px;
    background-color: #888;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.player > div {
    width: 35px;
    height: 35px;
}

.player .exec-logo {
    background-image: url(/assets/images/exec-logo.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: #37474f;
    background-position: 50% 60%;
    width: 35px;
}

.player .exec-list {
    background-color: #ffffff;
    width: calc( 100% - 150px);
}

.player .exec-controls {
    background-color: #4b1313;
    min-width: 145px;
    display: flex;
    flex-direction: row-reverse;
}

.player .exec-controls > div {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border: 1px solid;
}

.player .play {
    background-image: url(/assets/images/play.png);
    background-size: 100% 100%;
}
.player .stop {
    background-image: url(/assets/images/stop.png);
    background-size: 100% 100%;
}
.player .play-steps {
    background-image: url(/assets/images/play-steps.png);
    background-size: 100% 100%;
}
.player .play-speed {
    background-image: url(/assets/images/speedometer.png);
    background-size: 100% 100%;
}
.player .play-speed.speed-2000 {
    background-image: url(/assets/images/speedometer100.png);
}
.player .play-speed.speed-1000 {
    background-image: url(/assets/images/speedometer200.png);
}
.player .play-speed.speed-500 {
    background-image: url(/assets/images/speedometer500.png);
}
.player .play-speed.speed-200 {
    background-image: url(/assets/images/speedometer1000.png);
}
.player .play-speed.speed-100 {
    background-image: url(/assets/images/speedometer2000.png);
}


/* COMMANDS */

.wrapper-commands {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: #888;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.wrapper-commands .commands{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.wrapper-commands .commands > * {
    display: flex;
    flex-direction: row;
}



.direction > *,
.functions > *,
.colors > *,
.paint > *
{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    justify-content: center;
    align-items: center;
}

.turn-left {
    background-image: url(/assets/images/turn-left-arrow-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
    background-color: white;
}

.move-forward {
    background-image: url(/assets/images/move-forward-arrow-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 90% 95%;
    background-position: 50% 2px;
    background-color: white;
}

.turn-right {
    background-image: url(/assets/images/turn-right-arrow-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50%;
    background-color: white;
}

.function .paint-red {
    background-image: url(/assets/images/paint-red.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50%;
    background-color: white;
    padding: 0;
}

.function .paint-green {
    background-image: url(/assets/images/paint-green.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50%;
    background-color: white;
    padding: 0;
}
.function .paint-blue {
    background-image: url(/assets/images/paint-blue.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50%;
    background-color: white;
    padding: 0;
}

.commands .colors .red {
    background-color: red;
}
.commands .colors .green {
    background-color: green;
}
.commands .colors .blue {
    background-color: blue;
}
.commands .paint > * {
    background-image: url(/assets/images/paint.png);
    background-size: cover;
}
.commands .paint .red {
    background-color: red;
}
.commands .paint .green {
    background-color: green;
}
.commands .paint .blue {
    background-color: blue;
}
.commands .paint .red.disabled {
    opacity: 0.8;
    background-color: rgb(166, 138, 138);
}
.commands .paint .green.disabled {
    opacity: 0.8;
    background-color: rgb(128, 138, 121);
}
.commands .paint .blue.disabled {
    opacity: 0.8;
    background-color: rgb(100, 100, 158);
}






.wrapper-commands .render-commands{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.wrapper-commands .render-commands .function{
    height: 35px;
    display: flex;
    flex-direction: row;
}

.wrapper-commands .render-commands .function > div {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.wrapper-commands .render-commands .function > div.color-red {
    background-color: rgba(255, 80, 80, 0.8);
}
.wrapper-commands .render-commands .function > div.color-green {
    background-color: rgba(80, 160, 80, 0.8);
}
.wrapper-commands .render-commands .function > div.color-blue {
    background-color: rgba(80, 80, 255, 0.8);
}

.wrapper-commands .render-commands .function > div:first-child {
    background-color: rgb(190, 190, 190);
    font-weight: bold;
}

.wrapper-commands .render-commands .function > .selected {
    
    box-shadow: inset 2px 2px rgb(3, 3, 3), inset -2px -2px rgb(3, 3, 3);
}
.wrapper-commands .render-commands .function > .read {
    box-shadow: inset 2px 2px rgb(123, 68, 0), inset -2px -2px rgb(123, 68, 0);;
}

.grid-item.color-red {
    background-color: rgba(255, 80, 80, 0.8);
}
.grid-item.color-green {
    background-color: rgba(80, 160, 80, 0.8);
}
.grid-item.color-blue {
    background-color: #1f5db8cc;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.36);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.hide {
    display: none;
}
.alert {
    background-color: white;
    box-shadow: 0 0 4px 0 black;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert button {
    padding: 0.2rem .7rem;
}